.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(18px);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .modals{
    background: #FFFFFF;
    box-shadow: 28px 8px 54px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 2rem;
    transition: all 0.4s ease;
    width: 490px;
    height: 427px;
  }
  
  
  .modalContainer.show {
    visibility: visible;
    transition: all 0.2s ease !important;
  }
  
  .modalContainer.show .modal {
    opacity: 1;
    animation-name: fadeon;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
  }
  