
.progress-line__outer {
    display: flex;
    margin: 15px auto;
  }


  .progress{
    background: #FFFFFF;
    box-shadow: 0px 24px 70px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    width: 680px;
    padding-bottom: 70px;
    height: 260px;
    margin: 20px 40px;
  }

  .progress-list{
    display: flex;
    list-style: none;
  }
  
  .progress-blok{
    width: 230px;
    margin: 0 40px;
  }
  .progress-precent{
    margin-right:8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    width: 140px;
  }
  
  .progress-span p:nth-child(2){
    font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #808080;
  }
  
progress{
    height: 18px;
  }

  .progress-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .progress-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#000;
    margin-left: 40px;
    padding-top: 20px;
  }